<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/I65045/eclipse-workspace/SeleniumProject">
        <classes>
            <class name="org.example.DuplicateElement">
                <methods>
                    <include name="testClass"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>